---
import { EFFORT_LEVEL } from "../customTypes";
import testImage from "../assets/images/exercise/Wide-Grip_Decline_Barbell_Pullover/0.jpg";
import { Image } from "astro:assets";
interface Props {
  exerciseName: string;
  imagePath: string;
  primaryMuscles: string[];
  link: string;
  level: string;
  mechanic: string;
}

const { exerciseName, imagePath, primaryMuscles, link, level, mechanic } =
  Astro.props;

const allImages = await Astro.glob("../assets/images/exercise/*/0.jpg");
const startImage = allImages.filter((image) =>
  image.default.src.includes(link)
)[0];

const effortLevelColor = EFFORT_LEVEL[level].color;
const effortLevelEmoji = EFFORT_LEVEL[level].emoji;
---

<div>
  <a href=`/exercise/${link}`>
    <article>
      <h1>{exerciseName}</h1>
      <div class='flex items-center justify-between'>
        <p class='effort-level'>
          {effortLevelEmoji}
          {level}
        </p>
        {mechanic && <p class='capitalize'>🛠 {mechanic}</p>}
      </div>
      <p>
        🎯 Target: <span
          >{primaryMuscles.map((muscle) => muscle).join(", ")}</span
        >
      </p>
      <Image
        src={startImage.default}
        alt='fooo'
        width={300}
        height={200}
        class='object-cover max-h-[190px]'
      />
    </article>
  </a>
</div>

<style define:vars={{ effortLevelColor, effortLevelEmoji }}>
  article {
    @apply border rounded-xl flex flex-col justify-start p-3 transition-all bg-slate-100 duration-300 gap-4 w-72 relative overflow-clip h-[380px];

    &:hover {
      @apply -translate-y-2 bg-emerald-100 drop-shadow-md;
    }

    h1 {
      @apply font-semibold text-xl;
    }

    p {
      @apply text-sm;

      span {
        @apply capitalize;
      }

      &.effort-level {
        @apply p-1 px-2 rounded-md text-xs uppercase text-white self-start;
        background-color: var(--effortLevelColor);

        &:before {
          @apply mr-1;
        }
      }
    }
    img {
      @apply w-full absolute left-0 bottom-0;
    }
  }
</style>
